<div class="character-sheet">
  {{#each characters as |character|}}
        <span class="strength">Strength: {{character.strength}}</span>
        <span class="dexterity">Dexterity: {{character.dexterity}}</span>
        <span class="constitution">Constitution: {{character.constitution}}</span>
        <span class="intelligence">Intelligence: {{character.intelligence}}</span>
        <span class="wisdom">Wisdom: {{character.wisdom}}</span>
        <span class="charisma">Charisma: {{character.charisma}}</span>
        <span class="strength_save">Strength Save: {{character.strength_save}}</span>
        <span class="dexterity_save">Dexterity Save: {{character.dexterity_save}}</span>
        <span class="constitution_save">Constitution Save:{{character.constitution_save}}</span>
        <span class="intelligence_save">Intelligence Save: {{character.intelligence_save}}</span>
        <span class="wisdom_save">Wisdom Save: {{character.wisdom_save}}</span>
        <span class="charisma_save">Charisma Save: {{character.charisma_save}}</span>
        <span class="level">Level: {{character.level}}</span>
        <span class="proficiency_bonus">Proficiency Bonus: {{character.proficiency_bonus}}</span>
        <span class="acrobatics">Acrobatics: {{character.acrobatics}}</span>
        <span class="animal_handling">Animal Handling: {{character.animal_handling}}</span>
        <span class="arcana">Arcana: {{character.arcana}}</span>
        <span class="athletics">Athletics: {{character.athletics}}</span>
        <span class="deception">Deception: {{character.deception}}</span>
        <span class="history">History: {{character.history}}</span>
        <span class="insight">Insight: {{character.insight}}</span>
        <span class="intimidation">Intimidation: {{character.intimidation}}</span>
        <span class="investigation">Investigation: {{character.investigation}}</span>
        <span class="medicine">Medicine: {{character.medicine}}</span>
        <span class="nature">Nature: {{character.nature}}</span>
        <span class="perception">Perception: {{character.perception}}</span>
        <span class="performance">Performance: {{character.performance}}</span>
        <span class="persuasion">Persuasion: {{character.persuasion}}</span>
        <span class="religion">Religion: {{character.religion}}</span>
        <span class="sleight_of_hand">Sleight of Hand: {{character.sleight_of_hand}}</span>
        <span class="stealth">Stealth: {{character.stealth}}</span>
        <span class="survival">Survival: {{character.survival}}</span>
      </div>
    {{/each}}
